<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<display-name>project-1</display-name>
	<welcome-file-list>
		<welcome-file>login-emp.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>FrontController</display-name>
		<servlet-name>FrontController</servlet-name>
		<servlet-class>com.revature.web.FrontController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FrontController</servlet-name>
		<url-pattern>/login-emp</url-pattern>
		<url-pattern>/login-man</url-pattern>
		<url-pattern>/logout</url-pattern>
		<url-pattern>/profile-emp</url-pattern>
		<url-pattern>/expense-emp</url-pattern>
		<url-pattern>/submit-emp</url-pattern>
		<url-pattern>/reimb-man</url-pattern>
		<url-pattern>/reimb-status</url-pattern>
		<url-pattern>/reimb-all</url-pattern>
		<url-pattern>/resolve-man</url-pattern>
	</servlet-mapping>
</web-app>